<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- dynamic value call -->
    <title> <%= title %> </title>
</head>
<body>
    <!-- dynamic value call -->
    <h1><%= message %></h1> 
</body>
</html>